.Categoria{
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
    margin-top: 200px;
}
.Categoria  .sub-Categorias{
    width: 100%;
    text-align: center;
    position: relative;
}

.Categoria  .sub-Categorias .background{
    width: 100%;
}
.Categoria  .sub-Categorias .background .parte-azul{
    width: 100%;
    height: 300px;
    background-color: #202332;
}
.Categoria  .sub-Categorias .background .parte-azul img{
    margin-right: 250px;
}


.Categoria  .sub-Categorias .todasCategorias{
    width: 100%;
    position: absolute;
    height: auto;
    top: 70px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Categoria  .sub-Categorias .todasCategorias .subContainer{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 60px;
    flex-wrap: wrap;
}
.Categoria  .sub-Categorias .todasCategorias h1{
    color: #FFF;
    font-size: 1.4rem;
}
.Categoria  .sub-Categorias .todasCategorias .detalhes-categoria{
    display: flex;
    flex-direction: column;
    margin: 10px 15px;
    align-items: center;
    justify-content: center;
}
.Categoria  .sub-Categorias .todasCategorias .detalhes-categoria h2{
    font-size: 1.3rem;
    color:#fbaf17 ;
}
.Categoria  .sub-Categorias .todasCategorias .detalhes-categoria .Conteudo{
    width: 170px;
    background-color: #fbaf17;
    height: 170px;
    border-radius: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Categoria  .sub-Categorias .todasCategorias .detalhes-categoria .Conteudo .ferramenta{
    width: 40%;
}
.Categoria  .sub-Categorias .todasCategorias .detalhes-categoria .Conteudo img{
    width: 50%;
}


@media (max-width:800px) {
    .Categoria  .sub-Categorias .todasCategorias .detalhes-categoria .Conteudo{
        width: 110px;
        height: 110px;
    }
    .Categoria  .sub-Categorias .todasCategorias .detalhes-categoria .Conteudo img{
        width: 35%;
    }
    .Categoria  .sub-Categorias .todasCategorias .subContainer{
        justify-content: center;
    }
    .Categoria  .sub-Categorias .todasCategorias .detalhes-categoria h2{
        font-size: .9rem;
    }
    .Categoria  .sub-Categorias .todasCategorias .detalhes-categoria{
        margin: 5px 15px;
    }
}

@media (max-width:500px) {
    .imgtop{
        display: none;
    }
}


